@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
::-webkit-scrollbar {
  display: default;
}

body {
  font-family: 'IBM Plex Mono';
  color: rgba(0, 0, 0, 0.85);
  /* disable text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  background-color: black;
  color: white;
}
