@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'affairs';
  src: url('../public/affairs.otf');
  font-weight: normal;
}

* {
  font-family: 'affairs', sans-serif;
  font-size: 1.05rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
}

body {
  color: rgba(0, 0, 0, 0.85);
  background-color: #f5f5f5;
  /* disable text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  background-color: black;
  color: white;
}

.container {
  background-color: #f5f5f5;
  min-height: 600px;
  overflow-y: auto;
}